<% @posts.each do |post| %>
	<div class="box3 col-xs-10 col-xs-offset-1">
	  	 <h8><%= post.title %></h8><br /><br />
    	 <h2><%= post.blogpost %></h2><br /><br />
    	 <h7><%= post.created_at.strftime("%b %d, %Y") %></h7><br />

    </div>

     <hr>
<% end %>
		




