<body>
	<div class="box col-xs-1">
		<h1>Seth Allen</h1>

		<p>
			<i>Web Developer</i>
		</p>

		<p>
			Seth is studying to be a Full Stack Ruby on Rails Web Developer at The Firehose Project. In an earlier life, he worked as a recording engineer, music producer, musician, guitar teacher, and worked for Apple Inc. as an Apple Genius.
		</p>

		<a href="http://github.com/SethTeck">
				<img src="assets/github.png" />
		</a>
	<p>
		
	</div>

</body>