.navbar.navbar-inverse {
	background:url("/assets/binding_dark.png");
	border-radius: 0;
}

.box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: auto;
	margin: 30px auto;
	text-align: center;
}

.box2 {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: auto;
	margin: 30px auto;
	text-align: center;
}

.box3 {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px;
	margin: 30px;
	text-align: center;
}

body { 
    background: url('mountainruby.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px;
	margin: 30px;
	text-align: left;
	color: #A6DBFF;
	font-family: 'exothin', sans-serif;
	font-weight: 100;
	font-size: 15px;
}

h1 {
	color: #009BB0;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

h2 {
	color: #A6DBFF;
	font-family: 'courier new', courier;
	font-weight: 100;
	font-size: 15px;
	margin: 0px;
	text-align: center;
}

h3 {
	color: #A6DBFF;
	line-height: 50%;
	font-weight: 100;
	font-family: 'courier new', courier;
	font-size: 50px;
	text-align: center;
}

h4 {
	color: #E64343;
	line-height: 90%;
	font-weight: 100;
	font-family: 'courier new', courier;
	font-size: 50px;
	text-align: center;
}

h5 {
	color: #A6DBFF;
	font-family: 'exothin', sans-serif;
	font-weight: 100;
	font-size: 15px;
	margin: 0px;
	text-align: left;
}

h6 {
	color: #A6DBFF;
	font-family: 'exoregular', sans-serif;
	font-weight: 100;
	font-size: 18px;
	margin: 0px;
	text-align: left;
}

hr {
    border: none;
    height: 0px;
}

p {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
			
}

.navbar {
    margin-bottom: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:0px;
  margin-bottom:15px;
  padding:20px;
}



.navbar-inverse .navbar-brand {
    color: #00B2C9;
    font-family:'exothin', sans-serif;
    font-size: 26px;
}

.navbar-inverse .navbar-brand:visited {
  color: #00B2C9;
}

.navbar-inverse .navbar-brand:hover {
  color: #00E1FF;
}

.navbar-inverse .navbar-brand:active {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link {
	font-family: 'exothin', sans-serif;
    font-size: 18px;
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:visited {
  color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:hover {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:active {
  color: #00E1FF;
}

.navbar-inverse .navbar-collapse .navbar-link {
	font-family: 'exothin', sans-serif;
    font-size: 18px;
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-link :visited {
  color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-link :hover {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-link :active {
  color: #00E1FF;
}

