.has-error .control-label {
	color: #F00000;
	font-family: 'exoregular', sans-serif;
}

.has-error .help-block {
	color: #F00000;
	font-family: 'exoregular', sans-serif;
}

.help-block {
	color: #F00000;
	font-family: 'exoregular', sans-serif;
}

.form-control {
	color: #000000;
	font-family: 'exoregular', sans-serif;
}

.alert {
	text-align: center;
}

.navbar.navbar-inverse {
	background:url("/assets/binding_dark.png");
	border-radius: 0;
}

.box {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px 0 #171717;
    -webkit-box-shadow: 2px 2px 3px 0 #171717;
    box-shadow: 2px 2px 3px 0 #171717;
	padding: 20px;
	width: auto;
	margin: 30px auto;
	text-align: center;
}

.box2 {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px 0 #171717;
    -webkit-box-shadow: 2px 2px 3px 0 #171717;
    box-shadow: 2px 2px 3px 0 #171717;
	padding: 20px;
	margin-top: 60px;
	text-align: center;
}

.box3 {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px 0 #171717;
    -webkit-box-shadow: 2px 2px 3px 0 #171717;
    box-shadow: 2px 2px 3px 0 #171717;
	padding: 30px;
	margin-top: 30px;

}

.sign-in {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px 0 #171717;
    -webkit-box-shadow: 2px 2px 3px 0 #171717;
    box-shadow: 2px 2px 3px 0 #171717;
	padding: 30px;
	margin-top: 60px;
	text-align: left;
	color: #A6DBFF;
	font-family: 'exothin', sans-serif;
	font-weight: 100;
	font-size: 15px;

}

body { 
    background: url('mountainruby.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-box {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 3px 0 #171717;
    -webkit-box-shadow: 2px 2px 3px 0 #171717;
    box-shadow: 2px 2px 3px 0 #171717;
	padding: 30px;
	margin-top: 80px;
	text-align: left;
	color: #A6DBFF;
	font-family: 'exothin', sans-serif;
	font-weight: 100;
	font-size: 15px;
}

h1 {
	color: #009BB0;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

h2 {
	color: #A6DBFF;
	font-family: 'exoregular', sans-serif;
	font-weight: 100;
	font-size: 17px;
	margin: 0px;
	text-align: left;
	letter-spacing: 1.5px;
	line-height: 25px;
}

h3 {
	color: #A6DBFF;
	line-height: 50%;
	font-weight: 100;
	font-family: 'courier new', courier;
	font-size: 50px;
	text-align: center;
}

h4 {
	color: #FFFFFF;
	font-family: 'exoregular', sans-serif;
	font-size: 16px;
	text-align: center;
}

h5 {
	color: #A6DBFF;
	font-family: 'exothin', sans-serif;
	font-weight: 100;
	font-size: 15px;
	margin: 0px;
	text-align: left;
}

h6 {
	color: #A6DBFF;
	font-family: 'exoregular', sans-serif;
	font-weight: 100;
	font-size: 18px;
	margin: 0px;
	text-align: left;
}

h7 {
	color: #A6DBFF;
	font-family: 'courier new', courier;
	font-weight: 100;
	font-size: 14px;
	margin: 0px;
	text-align: left;
}

h8 {
	color: #A6DBFF;
	font-family: 'exobold', sans-serif;
	font-size: 40px;
	margin: 0px;
	text-align: left;
	text-decoration: underline;
}

h9 {
	color: #00E1FF;
	font-family: 'exothin', sans-serif;
	font-size: 80px;
	text-align: center;
	margin: 0px;
}

.h10 {
	color: #A6DBFF;
	font-family: 'exoregular', sans-serif;
	font-size: 16px;
	margin: 0px;
	text-align: left;
}

h11 {
	color: #A6DBFF;
	font-family: 'exoregular', sans-serif;
	font-weight: 100;
	font-size: 17px;
	margin: 0px;
	text-align: center;
	letter-spacing: 1.5px;
	line-height: 25px;
}

a {
  color: #A6DBFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #00E1FF;
}

a:active {
  color: #00B2C9;
}

hr {
    border: none;
    height: 0px;
}

p {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
			
}

.navbar {
    margin-bottom: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:0px;
  margin-bottom:15px;
  padding:20px;
}



.navbar-inverse .navbar-brand {
    color: #00B2C9;
    font-family:'exoregular', sans-serif;
    font-size: 26px;
}

.navbar-inverse .navbar-brand:visited {
  color: #00B2C9;
}

.navbar-inverse .navbar-brand:hover {
  color: #00E1FF;
}

.navbar-inverse .navbar-brand:active {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link {
	font-family: 'exoregular', sans-serif;
    font-size: 18px;
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:visited {
  color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:hover {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-right .navbar-link:active {
  color: #00E1FF;
}

.navbar-inverse .navbar-collapse .navbar-link {
	font-family: 'exoregular', sans-serif;
    font-size: 18px;
    color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-link :visited {
  color: #9d9d9d;
}

.navbar-inverse .navbar-collapse .navbar-link :hover {
  color: #00B2C9;
}

.navbar-inverse .navbar-collapse .navbar-link :active {
  color: #00E1FF;
}

